GEMINI_API_KEY=
GROQ_API_KEY=
HUGGINGFACE_API_KEY=
HF_TOKEN=
RIME_API_KEY=
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
OPENAI_API_KEY=
DEEPGRAM_API_KEY=
NEWS_API_KEY=
OPENWEATHERMAP_API_KEY=
OPENWEATHER_API_KEY=
FINNHUB_API_KEY=
S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET=
